{% extends 'base_login.html' %}


{% block login_content %}
        <div id="wrapper">
            <form class="form-signin" method="POST" action="">
                {% csrf_token %}
                
                <div id="form-signin-heading">Cambiar contraseña</div>
                <label>Ingrese la nueva contraseña</label>
                <input type="password" class="form-control" name="password_1" placeholder="ej: *******" required=""/><br>
                <label>Repita la nueva contraseña</label>
                <input type="password" class="form-control" name="password_2" placeholder="ej: *******" required=""/><br>
                <div class="col-md-12">
                    <div class="col-md-6"><button class="btn btn-success btn-block" type="submit">Guardar</button><br></div>
                    <div class="col-md-6"> <a class="btn btn-danger btn-block" href="/" type="cancel">Cancelar</a><br></div>
                </div>
            </form>
        </div>
{% endblock %}