{% extends 'base_application.html' %}


{% block login_content %}

<div class="col-md-12" style="background-color:#000000;">
    <div class="col-md-4" id="bannerEstadistica" >
        <img src="{{STATIC_URL}}images/banner.png" width="450px" height="510px" >
    </div >
       
    <div class="col-md-4" id="bannerEstadistica2">
         <img src="{{STATIC_URL}}images/banner2.png" width="430px" height="510px" >
    </div>

    <div class="col-md-4" id="bannerEstadistica3">
        <img src="{{STATIC_URL}}images/banner3.png" width="450px" height="510px" >
    </div>



</div>





{% endblock %}






      