
{% load staticfiles %}
<html>
    <head>
	    <link rel="stylesheet" href="{% static 'css/estilo_application.css' %}">
        <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
        <link rel="stylesheet" href="{% static 'css/font-awesome/css/font-awesome.min.css' %}">
        <link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz' rel='stylesheet' type='text/css'>
      
    </head> <!--esto es el banner GRANDE-->
    <body style="overflow:hidden;">
       <div id="agrupar">
        <header class="col-md-12" id="header-page">
            <div class="col-sm-3">
				<img src="{{STATIC_URL}}images/logo.png" width=125px height="70px">
			</div>
			<div class="col-sm-9 hidden-xs">
				<div class="col-sm-8">
				    <div class="pull-right" id="nombreColegio"><h1>{{nombre_institucion}}</h1></div>
				</div>
				<div class="col-sm-4">
                    <div class="pull-right" id="logonotas_app"><img src= "{{STATIC_URL}}images/sistema.png"></div>
                </div>
			</div>
        </header> <!--BANNER GRANDE-->

 <div id="bajarDiv" class="col-md-12"> <!---imagen del nene y cajas de preguntas-->
       <div id="botonDescarga">
           <button type="button" class="btn btn-primary"> Descargar manual</button>
       </div>

        <div class="col-md-6">
            <div class="tituloPrincipal alert alert-info col-md-8 col-md-offset-2" role="alert">
              <a href="dudas_profesor" class="alert-link">Dudas del Docente</a>
            </div>
            <div class="tituloPrincipal alert alert-success col-md-8 col-md-offset-2" role="alert">
              <a href="dudas_administrador" class="alert-link">Dudas del Administrador</a>
            </div>
            <div class="tituloPrincipal alert alert-danger col-md-8 col-md-offset-2" role="alert">
              <a href="preguntas_frecuentes" class="alert-link">Preguntas Frecuentes</a>
            </div>
            <div class="tituloPrincipal alert alert-warning col-md-8 col-md-offset-2" role="alert">
              <a href="/" class="alert-link">Volver</a>
            </div>



        </div>
            
        <div id="preguntas" class="col-md-3">
            <img src="{{STATIC_URL}}images/logotipo2.png" width=500px height="500px">
         
        </div>

 </div>   

    </div>
            {% block login_content %}

            {% endblock %}

        <div class="col-md-12" id="footer-page">
            <span>Desarrollado por Colegio Florentino Ameghino | 2015</span>
        </div>
    </body>
</html>
