{% block login_content %}
    <div class="col-md-3">
        <h1> Mis cursos </h1>
    </div>
    <div class="col-md-8 col-md-offset-2">
        <table class="table table-hover table-bordered">
            <tr>
                <th rowspan="2" style="text-align:center;padding-top:30px;">Asignatura</th>
                <th rowspan="2" style="text-align:center;padding-top:30px;">Año</th>
                <th colspan="3" style="text-align:center;">Estado</th>
                <th rowspan="2" style="text-align:center;padding-top:30px;">Acciones</th>
            </tr>
            <tr>
                <th style="text-align:center;">1ro</th>
                <th style="text-align:center;">2do</th>
                <th style="text-align:center;">3ro</th>
            </tr>
            <tbody>
                {% for materia in materias %}
                <tr>
                    <td style="text-align:center;">{{materia.nombre}}</td>
                    <td style="text-align:center;">{{materia.seccion}}</td>
                    
                   
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}