{% extends 'base_login.html' %}


{% block login_content %}
            <div class="col-md-6 col-md-offset-3" id="information-reset-password">
                Para reiniciar su contraseña debe contactarse con la persona que se encarga de administrar el sitio en
                su institución.
                <br>
                Muchas gracias.
                <br><br>
                <a class="btn btn-info" href="{% url 'login' %}"><i class="fa fa-undo"></i> Volver </a>
            </div>
{% endblock %}